* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

h1 {
    font-family: Cambria, serif;
    font-size: 160%;
}

header {
    height: 5vh;
    text-align: center;

}


.principal {
    min-height: 90vh;
    background-image: url(imatges/2.jpg);
}

aside a:link,
aside a:visited {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 110%;
    padding: 10px;
}

aside a:hover {
    margin: 10px;
    color: rgb(253, 254, 255);
    transition-duration: 0.3s;
}

aside {
    width: 30vw;
    float: left;
    min-height: 90vh;
    background-color: rgb(144, 191, 166);
    border-radius: 0 20px 20px 0;
    text-align: right;
    padding: 10px;
}


.contingut {
    margin-left: 30vw;
    padding: 20px 40px;
    font-family: Cambria, serif;
}

.contingut .box {
    background-color: rgb(207, 217, 192);
    padding: 20px;
    border-radius: 20px;
}

footer p {
    text-align: center;
    padding: 10px;
    background-color: antiquewhite;
}