* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}


a:link,
a:visited {
    color: black;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: antiquewhite;
}