.header {
    width: 100%;
    height: 10vh;
    background-color: rgb(76, 76, 72);
}

.header__logo {
    float: left;
    s
}

.nav--link {
    text-decoration: none;
    color: rgb(208, 157, 157);
    padding: 20px;
    font-size: 150%;
}

.header__search {
    width: 30%;
    float: right;
}

.explicacio {
    width: 100%;
}

.list--estil {
    color: green;
}